In [1]:
import pandas as pd
n=pd.Series([1,2,3])
print(n)

0    1
1    2
2    3
dtype: int64

In [8]:
import pandas as pd
import numpy as np
n=np.array([1,2,3])
print(n)
m=pd.Series(n,index=range(100,103))
print(m)

[1 2 3]
100    1
101    2
102    3
dtype: int32

In [15]:
#import the pandas library and aliasing as pd
import pandas as pd

data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [18]:

#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
s = pd.Series(5, index=[0, 1, 2, 3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [44]:
import pandas as pd
n=pd.DataFrame([["josna",24],["joyal",26]],columns=["Name","Age"])
print(n)

    Name  Age
0  josna   24
1  joyal   26

In [50]:
import pandas as pd
n=pd.DataFrame([["josna",24],["joyal",26]],index=range(1,3),columns=["Name","Age"])
print(n)
print(n["Name"])
n["health"]=["good","good"]
print(n)

    Name  Age
1  josna   24
2  joyal   26
1    josna
2    joyal
Name: Name, dtype: object
    Name  Age health
1  josna   24   good
2  joyal   26   good

In [30]:
import pandas as pd
n=pd.DataFrame([["josna",24,0],["joyal",26,2]],index=range(1,3),columns=["Name","Age","Work_experience"],dtype=int)
print(n)

    Name  Age  Work_experience
1  josna   24                0
2  joyal   26                2

In [33]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data,index=range(1,5))
print (df)

    Name  Age
1    Tom   28
2   Jack   34
3  Steve   29
4  Ricky   42

In [52]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)
df["e"]=[5,6]
print(df)
del df["c"]
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0
   a   b     c  e
0  1   2   NaN  5
1  5  10  20.0  6
   a   b  e
0  1   2  5
1  5  10  6

In [39]:

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d,dtype=int)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

## row selection

In [54]:

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

## Addition of rows

In [60]:

import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print (df)
print(df.head(2))
print(df.tail(2))
print(df.ndim)
print(df.size)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
   a  b
0  1  2
1  3  4
   a  b
0  5  6
1  7  8
2
8

## Deletion of rows

In [57]:
import pandas as pd
n=pd.DataFrame([["josna",24],["joyal",26]],index=range(1,3),columns=["Name","Age"])
n=n.drop(2)
print(n)

    Name  Age
1  josna   24

In [65]:
import pandas as pd
import numpy as np
 
# Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

# Create a DataFrame
df = pd.DataFrame(d)
print ("The transpose of the data series is:")
n=df.T
print(n)

The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [68]:

import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d,index=["a","b","c","d","e","f","g"])
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object'), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [70]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The actual data in our data frame is:")
print (df.values)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The actual data in our data frame is:
[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]

In [72]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
 
#Create a DataFrame
df = pd.DataFrame(d)
print (df.sum(1))

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [75]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df)
print (df.describe(include=['object']))

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65
       Name
count    12
unique   12
top     Tom
freq      1